<header class="main-header">
  <div class="logo">
    <i class="fa-solid fa-paw"></i> Bài 17 - Động Vật Quanh Em
  </div>

  <nav class="nav-menu">
    <div class="dropdown tiet1">
      <a href="#" class="nav-item" id="btn-activity lesson-1">
        Tiết 1
        <i
          class="fa-solid fa-chevron-down"
          style="font-size: 12px; margin-left: 4px"
        ></i>
      </a>
      <div class="dropdown-content lesson-1">
        <a href="/"
          ><i class="fa-solid fa-volume-high"></i> Game 1: Nghe tiếng kêu</a
        >
        <a href="/e"
          ><i class="fa-solid fa-eye"></i> Game 2: Xem hình gọi tên con vật</a
        >
        <a href="/secret"
          ><i class="fa-solid fa-house-chimney"></i> Game 3: Phiếu quan sát con
          vật
        </a>
      </div>
    </div>
    <div class="dropdown tiet2">
      <a href="#" class="nav-item" id="btn-activity lesson-2">
        Tiết 2
        <i
          class="fa-solid fa-chevron-down"
          style="font-size: 12px; margin-left: 4px"
        ></i>
      </a>
      <div class="dropdown-content lesson-2">
        <a href="/game1"
          ><i class="fa-solid fa-paw"></i> Game 1: Chỉ đúng bộ phận
        </a>
        <a href="/game2"
          ><i class="fa-solid fa-person-running"></i> Game 2: Di chuyển bằng gì?
        </a>
        <a href="/game3"
          ><i class="fa-solid fa-question"></i> Game 3: Đố bạn con gì?
        </a>
      </div>
    </div>
    <div class="dropdown tiet3">
      <a href="#" class="nav-item" id="btn-activity lesson-3">
        Tiết 3
        <i
          class="fa-solid fa-chevron-down"
          style="font-size: 12px; margin-left: 4px"
        ></i>
      </a>
      <div class="dropdown-content lesson-3">
        <a href="/game4"
          ><i class="fa-solid fa-box"></i> Game 1: Xếp theo lợi ích
        </a>
        <a href="/game5"
          ><i class="fa-solid fa-triangle-exclamation"></i> Game 2: Con vật gây
          hại
        </a>
        <a href="/game6"
          ><i class="fa-solid fa-hand"></i> Game 3: Ứng xử với con vật
        </a>
      </div>
    </div>
  </nav>
</header>
