<header class="main-header">
  <div class="logo"><i class="fa-solid fa-paw"></i> Động Vật Quanh Ta</div>

  <nav class="nav-menu">
    <a href="/#ly-thuyet" class="nav-item active" id="btn-theory">
      Phần 1: Lý Thuyết
    </a>

    <div class="dropdown">
      <a href="/#hoat-dong" class="nav-item" id="btn-activity">
        Phần 2: Hoạt Động
        <i
          class="fa-solid fa-chevron-down"
          style="font-size: 12px; margin-left: 4px"
        ></i>
      </a>
      <div class="dropdown-content">
        <a href="/index"
          ><i class="fa-solid fa-volume-high"></i> Hoạt động 1: Nghe tiếng
          kêu</a
        >
        <a href="/e"
          ><i class="fa-solid fa-eye"></i> Hoạt động 2: Về đúng nhà</a
        >
        <a href="/secret"
          ><i class="fa-solid fa-house-chimney"></i> Hoạt động 3: Đoán con vật
          bí ẩn
        </a>
        <a href="/4"><i class="fa-solid fa-crown"></i> Hoạt động 4: Vận dụng</a>
      </div>
    </div>
  </nav>
</header>
